@page
@model NetworkMonitoring.UI.Pages.Account.ManageUserPasswordModel
@{
    ViewData["Title"] = "مدیریت رمز عبور";
}

<div class="card p-3 container" id="PassUIDiv">
    <h2>مدیریت رمز عبور</h2>

    <div class="mb-3">
        <label class="form-label">پسورد قبلی</label>
        <input required v-model="PassVm.OldPassword" type="password" class="form-control form-control-sm" dir="ltr">
    </div>

    <div class="mb-3">
        <label class="form-label">پسورد جدید</label>
        <input required v-model="PassVm.NewPassword" type="password" class="form-control form-control-sm" dir="ltr">
    </div>

    <div class="mb-3">
        <label class="form-label">تکرار پسورد جدید</label>
        <input required v-model="PassVm.RNewPassword" type="password" class="form-control form-control-sm" dir="ltr">
    </div>

    <div class="mb-3">
        <button v-on:click="PostPass" class="btn btn-primary">تغییر پسورد</button>
    </div>

    <form hidden asp-controller="Account" asp-action="Logout" method="post" hidden>
        <button class="btn btn-warning" id="btnLogout" type="submit">خروج</button>
    </form>

</div>

<script>
    var PassUI = {
        data() {
            return {
                PassVm: {
                    OldPassword: '',
                    NewPassword: '',
                    RNewPassword: '',
                },
            }
        },
        mounted() {

        },
        methods: {
            PostPass() {
                if (this.PassVm.OldPassword != "" && this.PassVm.NewPassword != "" && this.PassVm.RNewPassword != "") {
                    confirmDialog('آیا می خواهید پسورد خود را تغییر دهید؟', "", 'warning').then(res => {
                        if (res.isConfirmed) {
                            axios.post("/Account/ChangeMyPassword", this.PassVm).
                                then(res => {
                                    $("#btnLogout").click();
                                });
                        }
                    });
                }
                else {
                    showNotificationMessage("لطفا فیلدها را تکمیل کنید+error");
                }
            },//---------
        }
    }

    Vue.createApp(PassUI).mount('#PassUIDiv');
</script>