@page
@model NetworkMonitoring.UI.Pages.Service.EquipmentIPManagementModel
@{
	ViewData["Title"] = "Equipment IP Management";
}

<div class="card p-3">
    <h2>مدیریت تجهیزات</h2>
    <div class="k-rtl">
        <div id="grid"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/Service/EquipmentIPAll',
                    dataType: "json",
                    type: "get",
                    complete: function (e) {

                    },
                },
            },
            pageSize: 20,
        });

        //-*-
        $("#grid").kendoGrid({
            dataSource: dataSource,
            height: 750,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "شروع شده با",
                        eq: "مساوی است با",
                        neq: "مساوی نیست با"
                    }
                }
            },
            sortable: true,
            pageable: true,
            toolbar: [{ text: "اضافه کردن", name: "newFunc" }, "search"],
            editable: {
                mode: "popup",
                window: { title: "شاخص" }

            },
            columns: [
                {
                    field: "EquipmentIPName",
                    title: "نام",
                },
                {
                    field: "IPAddress",
                    title: "IP",
                },
                {
                    field: "EquipmentType.EquipmentTypeName",
                    title: "نوع",
                },
                {
                    field: "EquipmentLocation.EquipmentLocationName",
                    title: "مکان",
                },

                { command: [{ text: "ویرایش", click: EditFunc }, { text: "حذف", click: RemoveFunc }], title: "&nbsp;", width: "17rem" }

            ]
        });
        //-*-
        function EditFunc(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            VueType.TypeVm = dataItem;
            VueType.IsEditing = true;
            $('#btn-Edit').click();
        }

        function RemoveFunc(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            VueType.DeleteType(dataItem.EquipmentIPID);
        }

        $(".k-grid-newFunc").click(function (e) { // note that the class is k-grid-new since the name of the command is new
            $('#btn-Add').click();
        });
    });//End Doc ready
</script>


<div id="UserUIDiv">
    <!-- ManageModal -->
    <button hidden id="btn-Add" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ManageModal">Add</button>
    <button hidden id="btn-Edit" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ManageModal">Edit</button>

    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ManageModal" tabindex="-1" aria-labelledby="ManageChartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!---->

                    <div class="mb-3">
                        <label class="form-label">نام</label>
                        <input v-model="TypeVm.EquipmentIPName" type="text" class="form-control form-control-sm">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">IP</label>
                        <input v-model="TypeVm.IPAddress" type="text" class="form-control form-control-sm">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">نوع</label>
                        <select class="form-control" v-model="TypeVm.EquipmentTypeID">
                            <option v-for="item in TypeList" v-bind:value="item.EquipmentTypeID">{{ item.EquipmentTypeName }}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">مکان</label>
                        <select class="form-control" v-model="TypeVm.EquipmentLocationID">
                            <option v-for="item in LocationList" v-bind:value="item.EquipmentLocationID">{{ item.EquipmentLocationName }}</option>
                        </select>
                    </div>

                    <!---->
                </div>
                <div class="modal-footer" dir="ltr">
                    <button v-on:click="CleanUI" type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-window-close"></i><span class="me-2">انصراف</span></button>
                    <button v-if="!IsEditing" v-on:click="PostType" type="button" class="btn btn-success"><i class="fas fa-save"></i><span class="me-2">ذخیره</span></button>
                    <button v-if="IsEditing" v-on:click="UpdateType" type="button" class="btn btn-warning"><i class="fas fa-save"></i><span class="me-2">ویرایش</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ManageModal -->

</div>


<script>
    var UserUI = {
        data() {
            return {
                TypeVm: {
                    EquipmentIPID: 0,
                    EquipmentIPName: '',
                    IPAddress: '',
                    Status: true,
                    EquipmentLocationID: 0,
                    EquipmentTypeID: 0,
                },//---------
                TypeList: [],
                LocationList: [],
                IsEditing: false,
            }
        },
        mounted() {
            this.GetAllTypes();
            this.GetAllLoactions();
        },
        methods: {
            PostType() {
                console.log(this.TypeVm)
                axios.post('/Service/EquipmentIP', this.TypeVm).
                    then(res => {
                        this.CleanUI();
                        showNotificationMessage(res.data);
                    });
            },//------
            UpdateType() {
                axios.put('/Service/EquipmentIP', this.TypeVm).
                    then(res => {
                        showNotificationMessage(res.data);
                        this.IsEditing = false;
                        this.CleanUI();
                    });

            },//------
            DeleteType(id) {
                confirmDialog('آیا می خواهید حذف کنید؟', "", 'info').then(res => {
                    if (res.isConfirmed) {
                        axios.delete("/Service/EquipmentIP/" + id).
                            then(res => {
                                showNotificationMessage(res.data);
                                this.CleanUI();
                            });
                    }
                });
            },//------
            GetAllTypes() {
                axios.get('/BasicData/EquipmentTypeAll').
                    then(res => {
                        this.TypeList = res.data;
                    });
            },//------
            GetAllLoactions() {
                axios.get('/BasicData/EquipmentLocationAll').
                    then(res => {
                        this.LocationList = res.data;
                    });
            },//------
            CleanUI() {
                this.TypeVm = {
                    EquipmentIPID: 0,
                    EquipmentIPName: '',
                    IPAddress: '',
                    Status: true,
                    EquipmentLocationID: 0,
                    EquipmentTypeID: 0,
                },//---------;
                    this.IsEditing = false;
                $('#grid').data('kendoGrid').dataSource.read();
                $('[class="btn-close"]').click();
            },//------
        }
    }

    var VueType = Vue.createApp(UserUI).mount('#UserUIDiv');
</script>
