@if (User.Identity.IsAuthenticated)
{
    <style>
        .sidemenuHover {
            background-color: white;
            color: black;
            border-radius: 10px !important;
        }

        .sidemenuHover:hover {
            background-color: darkviolet;
            color: white;
        }
    </style>

    <button hidden class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenuOffCanvas" aria-controls="sideMenuOffCanvas"></button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="sideMenuOffCanvas" aria-labelledby="sideMenuOffCanvasLabel" style="width:300px">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sideMenuOffCanvasLabel">
                @User.Claims.FirstOrDefault(x => x.Type == "UserName").Value
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--Menu Body-->
            <div class="accordion accordion-flush" id="accordionFlushExample" style="--bs-accordion-border-color:white">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed sidemenuHover" type="button" aria-expanded="false" style="--bs-accordion-btn-icon:url();height:40px">
                            <i class="fa-solid fa-house me-2"></i>
                            <a class="list-group-item list-group-item-action" asp-area="" asp-page="/Index">خانه</a>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed sidemenuHover" type="button" aria-expanded="false" style="--bs-accordion-btn-icon:url();height:40px">
                            <i class="fa-solid fa-toolbox me-2"></i>
                            <a class="list-group-item list-group-item-action" asp-area="" asp-page="/Services/EquipmentIPManagement">مدیریت تجهیزات</a>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed sidemenuHover" type="button" aria-expanded="false" style="--bs-accordion-btn-icon:url();height:40px">
                            <i class="fa-solid fa-toolbox me-2"></i>
                            <a class="list-group-item list-group-item-action" asp-area="" asp-page="/Services/AdminNetworkServiceManagement">مدیریت سرویس ها</a>
                        </button>
                    </h2>
                </div>

                <!---->
                @if (User.IsInRole("UA"))
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed sidemenuHover" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" style="height:40px">
                                <i class="fa-solid fa-user me-2"></i>
                                مدیریت کاربران
                            </button>
                        </h2>
                        <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <!--Ac Body-->
                                <div class="list-group list-group-flush" style="--bs-list-group-border-color:white">
                                    @if (User.IsInRole("UA"))
                                    {
                                        <a class="list-group-item list-group-item-action sidemenuHover" asp-area="" asp-page="/Account/ManageSystemUser">
                                            <i class="fa-solid fa-user me-2"></i>
                                            کاربران
                                        </a>
                                    }
                                    @if (User.IsInRole("UGA"))
                                    {
                                        <a class="list-group-item list-group-item-action sidemenuHover" asp-area="" asp-page="/Account/ManageSystemUserGroup">
                                            <i class="fa-solid fa-users me-2"></i>
                                            گروه کاربران
                                        </a>
                                    }
                                </div>
                                <!--Ac Body-->
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed sidemenuHover" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" style="height:40px">
                                <i class="fa-solid fa-database me-2"></i>
                                مدیریت اطلاعات پایه
                            </button>
                        </h2>
                        <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <!--Ac Body-->
                                <div class="list-group list-group-flush" style="--bs-list-group-border-color:white">
                                    @if (User.IsInRole("UA"))
                                    {
                                        <a class="list-group-item list-group-item-action sidemenuHover" asp-area="" asp-page="/BasicData/EquipmentTypeManagement">
                                            <i class="fa-duotone fa-layer-group me-2"></i>
                                            انواع تجهیزات
                                        </a>
                                    }
                                    @if (User.IsInRole("UGA"))
                                    {
                                        <a class="list-group-item list-group-item-action sidemenuHover" asp-area="" asp-page="/BasicData/EquipmentLocationManagement">
                                            <i class="fa-solid fa-location-crosshairs me-2"></i>
                                            مکان تجهیزات
                                        </a>
                                    }
                                </div>
                                <!--Ac Body-->
                            </div>
                        </div>
                    </div>
                }
                <!---->
                <!---->

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed sidemenuHover" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" style="height:40px">
                            <i class="fa-regular fa-file-chart-pie me-2"></i>
                            گزارش ها
                        </button>
                    </h2>

                    <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <!--Ac Body-->
                            <div class="list-group list-group-flush" style="--bs-list-group-border-color:white">
                                <a class="list-group-item list-group-item-action sidemenuHover" asp-area="" asp-page="/Report/EquipmentReportPage">
                                    <i class="fa-solid fa-wrench me-2"></i>
                                    گزارش تجهیزات
                                </a>
                                <a class="list-group-item list-group-item-action sidemenuHover" asp-area="" asp-page="/Report/ServiceReportPage">
                                    <i class="fa-solid fa-file-chart-column me-2"></i>
                                    گزارش سرویس ها
                                </a>
                            </div>
                            <!--Ac Body-->
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed sidemenuHover" type="button" aria-expanded="false" style="--bs-accordion-btn-icon:url(); height:40px">
                            <i class="fa-solid fa-key me-2"></i>
                            <a class="list-group-item list-group-item-action" asp-area="" asp-page="/Account/ManageUserPassword">مدیریت رمز عبور</a>
                        </button>
                    </h2>
                </div>
            </div>
            <!--Menu Body-->


        </div>
    </div>

}


